<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <h3>Enter a word!</h3>
    <div id="input-1">
        <input type="text" class="input-1">
    </div>
    <div id="button-1">
        <button type="submit" class="button-1">Submit</button>
    </div>
    <div id="button-2">
        <button type="button" class="button-2">Click!</button>
    </div>
    <div id="result">
        <ul>
            <li class="word"></li>
        </ul>
    </div>
    <div id="counter">

    </div>
    <div>
        <input type="text" class="mynumber">
        <input type="text" class="longnumber">
    </div>
    <div>
        <button type="button" class="calculate">See my number!</button>
    </div>
    <div class="num-result"></div>
</body>
<script type="text/javascript" src="static/script.js"></script>
<script type="text/javascript" src="static/numberfinder.js"></script>
</html>